body{
  overflow: hidden;
  height: 100%;
}
header{
    font-size:25px;
    font-weight: bold;
    font-family: sans;
    color: white;
    margin:20px auto;
    padding-left: 20px;
  }
  p{
    font-size: 18px;
    font-family: cambria;
  }
  li{
    font-family: sans;
    margin-left: 10px;
  }
  body{
    margin-left: 30px;
    /* margin-top: 40px; */
    margin-bottom: 50px;
  }
  body {
    margin: 0;
    display: flex;
  }
  
  nav#navbar{
    width: 260px;
    background-color: #D76C82;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    position: fixed;
    overflow-y: auto;
    margin: 45px 0;
  }
  
  nav#navbar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav#navbar a:hover {
    background-color: #3D0301;
  }
  nav#navbar > ul{
    list-style-type: none;
    padding-left: 10px;
  }

  /* custom bullet icons */
  #navbar ul li {
    position: relative;
    padding-left: 30px; 
    margin-bottom: 0px;
  }

  #navbar ul li::after{
    content: "\f058"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    position: absolute;
    left: 0;
    top: 30%;
    color: white; 
  }
  #navbar ul li:nth-child(1)::after {
    content: "\f015"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: white;
  }
  #navbar ul li:nth-child(2)::after {
    content: "\f49e"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: white;
  }
  #navbar ul li:nth-child(3)::after {
    content: "\f0d1"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: white;
  }
  #navbar ul li:nth-child(4)::after {
    content: "\f571"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: white;
  }
  #navbar ul li:nth-child(5)::after {
    content: "\f570"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: white;
  }
  /*second nav bar in dashboard page*/
.navbar1{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding-top: 10px;
    padding-left: 0;
    margin: 0;
    position: fixed;
  }
.navbar1 ul {
    list-style: none;
    display: flex;
}
.navbar1 ul li {
    margin: 0 20px;
}
.navbar1{
    color: black;
    text-decoration: underline;
    font-weight: 600;
}
.navLink{
  color: black;
}
.navLink:hover{
  color: #D76C82;
}
h1{
    font-size:30px;
    margin: 0 50px;
    padding-top: 50px;
}
h2{
    padding-top: 0px;
    margin: 20px 0;
}
.container{
    padding: 60px 60px;
}
  main {
    margin-left: 250px;
    padding-top: 20px;
  }
  @media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd; /* Light gray border */
    text-align: left; /* Align text to the left */
    padding: 10px; /* Add padding for readability */
}

th {
    background: rgb(160, 67, 82); 
    color: white; 
    font-weight: bold; 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}
.table-container {
  max-height: 300px; 
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  background-color: pink;
}
 /* Content Sections */
 .content-section {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 300px;
  display: none; 
}
.content-section.active {
  display: block;
}
.content-section h2 {
  margin-bottom: 10px;
}
.table-container img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.chart-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}
/*Grids for inventory page*/
.grid-container {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 40px; /* Space between grid items */
}

.grid-item {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding:20px;
  text-align: center;
  border-radius: 15px;
}

.grid-item h3 {
  margin-top: 0;
}

.grid-item p {
  margin-bottom: 0;
}
.grid-item img{
  width: 200px;
  height: 200px;
}
#inventory{
  overflow: auto;
}